/*For All Tags*/
* {
    padding: 0;
    margin: 0;
    outline: 0;
}
.overflow_hidden {
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.overflow_hidden {
    overflow: hidden;
}

/*Common Css*/

/*Header Part Start*/
button:focus {
    outline: 0;
}

header {
    background-color: rgba(53, 53, 53, .25);
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 2;
}

.menu_fix {
    position: fixed;
    top: 0;
    left: 0;
    transition: all linear .5s;
}

header a.navbar-brand {
    padding: 10px 48px !important;
    background-color: rgba(49, 49, 49, .20) !important;
    transform: skew(-30deg);

}

.menu_fix a.navbar-brand {
    padding: 5px 48px !important;
}

header a.navbar-brand img {
    transform: skew(30deg);
}

header .navbar-nav .nav-item .nav-link {
    padding: 20px 12px 16px 10px;
    position: relative;
    transition: all linear .4s;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

header .navbar-nav .nav-item .nav-link.active:after {
    opacity: 1;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #e23e38;
    transition: all linear .4s;
}

header .navbar-nav .nav-item .nav-link:hover:after {
    width: 100%;
    opacity: 1;
}
header .navbar-nav .nav-item .nav-link.active {
    width: 100%;
    opacity: 1;
    background-color: #fff;
    color: #222;
}
header .navbar-nav .nav-item .nav-link:hover {
    background-color: #fff;
    color: #000;
}

.head_cont {
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 0;
    top: -6px;
}

.menu_fix .navbar-brand {
    position: absolute;
    top: 0;
}

/*Header Part End*/

/*Banner Part Start*/
#banner_part {}

.slider_active {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding-top: 254px;
    padding-bottom: 117px;
    position: relative;
    z-index: 1;
}

.slider_active:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .60);
    z-index: -1;
}

.banner_text h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 10px;
    position: relative;
}

.banner_text h2::after {
    position: absolute;
    content: "";
    left: -8px;
    top: 15px;
    width: 163px;
    height: 3px;
    background-color: #e23e38;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

.banner_text h2::before {
    position: absolute;
    content: "";
    right: -8px;
    top: 15px;
    width: 163px;
    height: 3px;
    background-color: #e23e38;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
}

.banner_text h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #e23e38;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.banner_text h1::after {
    position: absolute;
    content: "";
    left: -8px;
    top: -28px;
    width: 3px;
    height: 199px;
    background-color: #e23e38;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

.banner_text h1::before {
    position: absolute;
    content: "";
    right: -8px;
    top: -28px;
    width: 3px;
    height: 199px;
    background-color: #e23e38;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

.banner_text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #dddddd;
    line-height: 18px;
    padding-bottom: 28px;
    position: relative;
}

.banner_text p::after {
    position: absolute;
    content: "";
    left: -7px;
    bottom: -20px;
    width: 74px;
    height: 3px;
    background-color: #e23e38;
    clip-path: polygon(2% 0, 100% 0, 100% 100%, 0 100%);
}

.banner_text p::before {
    position: absolute;
    content: "";
    right: -7px;
    bottom: -20px;
    width: 74px;
    height: 3px;
    background-color: #e23e38;
    clip-path: polygon(2% 0, 100% 0, 100% 100%, 0 100%);
}

.banner_text a {
    padding: 10px 20px;
    background: transparent;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 11px;
    border: 1px solid #fff;
    transition: all linear .5s;
}

.banner_text a:hover {
    background-color: #e23e38;
    border: 1px solid transparent;
}

#banner_part ul.slick-dots {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#banner_part ul.slick-dots li button {
    font-size: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0 5px;
}

#banner_part ul.slick-dots li button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

#banner_part ul.slick-dots li.slick-active button {
    background-color: red;
    border: 1px solid transparent;
    margin-bottom: 2px;
}

/*Banner Part End*/

/*About Part Start*/
#about_part {
    padding-top: 73px;
    padding-bottom: 30px;
}

.about_left {
    position: relative;
    margin-top: 10px;
}

.about_left .ovarlay_icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6)
}

.about_left .ovarlay_icon a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #e23e38;
}

.about_left .ovarlay_icon span a {
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}

.about_right h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #222222;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.about_right img {
    padding-bottom: 23px;
}

.about_right p {
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 32px;
    color: #444444;
}

.about_right {
    padding-bottom: 34px;
}

/*About Part End*/

/*Gallery Part Start*/
#gallery_part {
    background: url(../images/banner2.jpg) left top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 30px 0 0px;
    position: relative;
    z-index: 1;
    margin-top: 30px;
}

#gallery_part:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: -1;
}

.glry_head h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    color: #222;
}

.gall_one {
    position: relative;
    margin-bottom: 30px;
}

.gall_one .ovarlay {
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #eeeeee;
    background: rgba(234, 154, 149, .5);
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all linear .4s;
}

.gall_one:hover .ovarlay {
    transform: scale(.9);
}

.gall_one:hover .ovarlay a i {
    opacity: 1;
}

.gall_one .ovarlay a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    opacity: 0;
    transition: all linear .4s;
}


.gall_two {
    position: relative;
    margin-bottom: 30px;
}

.gall_two .ovarlay {
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #eeeeee;
    background: rgba(234, 154, 149, .5);
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all linear .4s;
}

.gall_two:hover .ovarlay {
    transform: scale(.9);
}

.gall_two:hover .ovarlay a i {
    opacity: 1;
}

.gall_two .ovarlay a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    opacity: 0;
    transition: all linear .4s;
}




/*Gallery Part End*/

/*Team Part Start*/
#team_part {
    padding-top: 80px;
}

.team_head h2 {
    text-transform: uppercase;
    font-size: 22px;
    color: #222;
    font-weight: 500;
    padding-bottom: 10px;
}

.team_head img {
    padding-bottom: 30px;
}

.team_full {
    transition: all linear .4s;
    transform: translateY(40px);
}

.team_full:hover {
    transform: translateY(0px);
    z-index: 2;
}

.team_full .team_text {
    border: 1px solid transparent;
    border-top: 1px solid transparent;
}

.team_full:hover .team_text {
    border: 1px solid #dddddd;
}

.team_full .team_text h2 {
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    line-height: 17px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.team_full .team_text h3 {
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 8px;
}

.team_full .team_text p {
    font-size: 13px;
    color: #444444;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    padding: 0 20px 20px 20px;
    visibility: hidden;

}

.team_full:hover .team_text p {
    visibility: visible;
}

.team_img {
    position: relative;
}

.team_img .ovarlay {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: 5px solid #eeeeee;
    background: rgba(234, 154, 149, .5);
    transform: scale(0);
    transition: all linear .4s;
}

.team_full:hover .ovarlay {
    transform: scale(1);
}

.team_img .ovarlay ul li a i {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin: 5px 0;
    transition: all linear .4s;
}

.team_img .ovarlay ul li a i:hover {
    background-color: #fff;
    color: #1da0f2;
}

.ovarlay ul {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/*Team Part End*/

/*Testmonial Part Start*/
#testmonial_part {
    background: url(../images/banner2.jpg) left top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

#testmonial_part:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: -1;
}

.test_head h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #222222;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 50px;
}

.test_head img {
    padding-bottom: 23px;
}

.test_text h2 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #fff;
}

.test_text h3 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 5px;
}

.test_footer p {
    padding-top: 5px;
    font-size: 13px;
    color: #ddd;
    line-height: 18px;
}

#testmonial_part ul.slick-dots {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

#testmonial_part ul.slick-dots li button {
    font-size: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0 5px;
}

#testmonial_part ul.slick-dots li button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

#testmonial_part ul.slick-dots li.slick-active button {
    background-color: red;
    border: 1px solid transparent;
    margin-bottom: 2px;
}

/*Testmonial Part End*/

/*Membership Part Start*/
#membership_part {
    padding-bottom: 40px;
}
.test_head h2 {
    text-transform: uppercase;
    font-size: 22px;
    color: #222;
    font-weight: 500;
}

.test_head img {
    padding-bottom: 40px;
}
.price_main {
    transform: scale(.9);
    transition: all linear .5s;
}
.price_main:hover {
    transform: scale(1);
}
.price_main h3 {
    padding: 20px 0;
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;
    background-color: #ddd;
    font-weight: 500;
    transition: all linear .4s;
}

.price_main:hover h3,
.price_main:hover a {
    background-color: #e23e38;
    color: #fff;
}

.price_main h2 {
    background: url(../images/price1.jpg) left top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 40px 0;
    color: #fff;
    z-index: 1;
    font-size: 50px;
    margin-bottom: 40px;
}

.price_main h2:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

.price_main h2 span {
    font-size: 29px;
}

.price_main {
    background-color: #f1f1f1;
}

.price_main ul li {
    padding-bottom: 20px;
}

.price_main a {
    display: block;
    font-size: 16px;
    color: #222222;
    padding: 10px 0;
    background-color: #ddd;
    text-transform: uppercase;
    transition: all linear .4s;
}

/*Membership Part End*/

/* Counter Part Start*/
#counter_part {
    background: url(../images/banner4.jpg) left top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 40px 0;

}

#counter_part:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: -1;
}

.counter_text h3 {
    font-size: 40px;
    color: #fff;
}

.counter_text p {
    font-size: 16px;
    color: #fff;
}

/* Counter Part End*/

/*Our Class Part Part Start*/
#class_part {
    padding: 80px 0;
}

#class_part ul.nav-pills {
    margin-top: 30px;
}

#class_part ul.nav-pills li.nav-item {
    width: 16.66%;
}

#class_part .nav-pills .nav-link {
    border-radius: 0rem;
}

#class_part ul.pills_ul li.pills_li {
    width: 20%;
    float: left;
    padding: 50px 0;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: all linear .4s;
    transform: scale(.99);

}

#class_part ul.pills_ul li.pills_li:hover {
    background-color: #e23e38;
    transform: scale(1.1);
    z-index: 1;
}

#class_part ul.pills_ul li.pills_li:hover i,
#class_part ul.pills_ul li.pills_li:hover h4,
#class_part ul.pills_ul li.pills_li:hover p {
    color: #fff;
}

.pills_li h4 {
    font-size: 16px;
    color: #222222;
    font-weight: 400;
    transition: all linear .4s;
}

.pills_li .flaticon-buddhist-yoga-pose {

    transition: all linear .4s;
}

.pills_li p {
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    transition: all linear .4s;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #e23e38;
}

/*Our Class Part Part End*/

/*Slider Part Start*/
#slider_part {
    padding-bottom: 80px;
}

.slider_head h2 {
    text-transform: uppercase;
    font-size: 22px;
    color: #222;
    font-weight: 500;
    padding-bottom: 10px;
}

.slider_head img {
    padding-bottom: 40px;
}

.slide_main {
    position: relative;
}

.slide_main .fa-chevron-left {
    position: absolute;
    left: -55px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 28px;
    color: #e23e38;
}

.slide_main .fa-chevron-right {
    position: absolute;
    right: -55px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 28px;
    color: #e23e38;
}

/*Slider Part End*/


/*Footer Part Start*/
footer {
    background: url(../images/footer.jpg) left top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 40px 0;
    color: #fff;
}

footer:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: -1;

}

footer h3 {
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer_head {
    border-bottom: 1px solid #fff;
}

.footer_head a img {
    margin-bottom: 20px;
}

footer .img_one img {
    margin-bottom: 10px;
}

.footer_one ul li {
    font-size: 13px;
}

.footer_one1 ul li {
    font-size: 13px;
}

.footer_two {
    padding-bottom: 25px;
}

.footer_two p {
    padding-left: 30px;
    position: relative;
    color: #dddddd;
    font-size: 13px;
    line-height: 18px;
}

.footer_two p i {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 20px;
    color: #1da1f2;
}

.footer_two p span {
    display: block;
    font-size: 13px;
    color: #ddd;
    font-weight: 500;

}

.footer_three {
    width: 25%;
    float: left;
    padding: 0 5px 5px 0;
}

.footer_four {}

.four_body ul li a {
    color: #dddddd;
    font-size: 13px;
    position: relative;
    padding-left: 20px;
}

.four_body ul li a i {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 13px;
    color: #e23e38;
}

.four_footer h4 {
    font-size: 14px;
    color: #fff;
    padding-bottom: 25px;
    padding-top: 25px;
}

.four_social a {
    color: #dddddd;
    font-size: 13px;
}

.four_social a i {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
    transition: all linear .4s;
}

.four_social a i:hover {
    background-color: #e23e38;
    border: 1px solid #e23e38;

}

.footer_footer {
    padding-top: 20px;
}

.footer_footer h4 {
    font-size: 13px;

}

.footer_footer h4 span {
    color: #e23e38;
}

#bto_part .bto {
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 999;
    display: none;
    cursor: pointer;
}

#bto_part .bto i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e23e38;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

/*Footer Part End*/